<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SecondProjectCore</title>

    <!-- Favicons -->
    <link href="~/assets1/img/favicon.png" rel="icon">
    <link href="~/assets1/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets1/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets1/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets1/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets1/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets1/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets1/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets1/css/style.css" rel="stylesheet">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ECommerceWebsite</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Products</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Orders</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="OrderItems" asp-action="Index">Order Items</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Testimonials" asp-action="Index">Testimonials</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="AdminPage" asp-action="AdminPage">AdminPage</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footer">
        <div class="container">
            <div class="copyright">
               
                    <!-- Basic with Icons -->
                    <div class="col-xxl">
                        <div class="card mb-4">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h5 class="mb-0">Basic with Icons</h5>
                                <small class="text-muted float-end">Merged input group</small>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Name</label>
                                        <div class="col-sm-10">
                                            <div class="input-group input-group-merge">
                                                <span id="basic-icon-default-fullname2" class="input-group-text">
                                                    <i class="bx bx-user"></i>
                                                </span>
                                                <input type="text"
                                                       class="form-control"
                                                       id="basic-icon-default-fullname"
                                                       placeholder="John Doe"
                                                       aria-label="John Doe"
                                                       aria-describedby="basic-icon-default-fullname2" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label" for="basic-icon-default-company">Company</label>
                                        <div class="col-sm-10">
                                            <div class="input-group input-group-merge">
                                                <span id="basic-icon-default-company2" class="input-group-text">
                                                    <i class="bx bx-buildings"></i>
                                                </span>
                                                <input type="text"
                                                       id="basic-icon-default-company"
                                                       class="form-control"
                                                       placeholder="ACME Inc."
                                                       aria-label="ACME Inc."
                                                       aria-describedby="basic-icon-default-company2" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label" for="basic-icon-default-email">Email</label>
                                        <div class="col-sm-10">
                                            <div class="input-group input-group-merge">
                                                <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                                                <input type="text"
                                                       id="basic-icon-default-email"
                                                       class="form-control"
                                                       placeholder="john.doe"
                                                       aria-label="john.doe"
                                                       aria-describedby="basic-icon-default-email2" />
                                                <span id="basic-icon-default-email2" class="input-group-text"></span>
                                            </div>
                                            <div class="form-text">You can use letters, numbers & periods</div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 form-label" for="basic-icon-default-phone">Phone No</label>
                                        <div class="col-sm-10">
                                            <div class="input-group input-group-merge">
                                                <span id="basic-icon-default-phone2" class="input-group-text">
                                                    <i class="bx bx-phone"></i>
                                                </span>
                                                <input type="text"
                                                       id="basic-icon-default-phone"
                                                       class="form-control phone-mask"
                                                       placeholder="658 799 8941"
                                                       aria-label="658 799 8941"
                                                       aria-describedby="basic-icon-default-phone2" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 form-label" for="basic-icon-default-message">Message</label>
                                        <div class="col-sm-10">
                                            <div class="input-group input-group-merge">
                                                <span id="basic-icon-default-message2" class="input-group-text">
                                                    <i class="bx bx-comment"></i>
                                                </span>
                                                <textarea id="basic-icon-default-message"
                                                          class="form-control"
                                                          placeholder="Hi, Do you have a moment to talk Joe?"
                                                          aria-label="Hi, Do you have a moment to talk Joe?"
                                                          aria-describedby="basic-icon-default-message2"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-end">
                                        <div class="col-sm-10">
                                        <a href="about.html" class="btn-about">About Me</a>
                                    </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / Content -->
            &copy; Copyright <strong><span>Kelly</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer>

    <!-- Vendor JS Files -->
    <script src="~/assets1/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/assets1/vendor/aos/aos.js"></script>
    <script src="~/assets1/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets1/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets1/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets1/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets1/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/assets1/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets1/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
