@model List<ECommerceWebsite.Models.Testimonial>

@{
    ViewData["Title"] = "Home Page";
}
<style>
    .custom-button {
        font-family: "Raleway", sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 12px 40px;
        border-radius: 50px;
        transition: 0.5s;
        margin-top: 30px;
        color: #fff;
        background: #696cff;
        outline: none;
        border: none;
    }

        .custom-button:hover {
            background: #696cff; /* Adjust the hover background color as needed */
        }
</style>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
        <h1>Kelly Shop</h1>
        <h2>Enjoy in your shopping experience   </h2>
        <a href="" style="background-color:#696cff" class="btn-about">Shop now </a>
    </div>
</section><!-- End Hero -->


<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Testimonials</h2>
             <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
       </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                 @foreach (var item in Model) 
                {
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/images/usrProfileImages/@item?.User.UserPhoto" class="testimonial-img" alt="">
                            <h3>@item?.User.FirstName</h3>
                            
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                @item.Content
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>
                }
             

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Feedback</h2>
            <p>We need your feedback to make this site meet your expectations Don't' hesitate to send any note  </p>
         </div>


        <div class="row mt-5">

            <div class="col-lg-4">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>A108 Adam Street, New York, NY 535022</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>info@example.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>+1 5589 55488 55s</p>
                    </div>

                </div>

            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">

                <form asp-action="Create" asp-controller="Testimonials" >
                 

                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="custom-button">
                            Send Message
                        </button>
                    </div>


                </form>

            </div>

        </div>

    </div>
</section>
